---
---
<!DOCTYPE html>
<html>

{% include head.html %}

<body>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-53HZNZQ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
	{% include nav.html %}

	{% include main.html %}

	{% include footer.html %}

	{% include vendor.js.html %}

</body>
<!--
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBx6seaJUAP-r-6eePDE1IGQCXosHcQZbY"></script>
-->
<script src="script/google_maps.js"></script>

<script>
  var confirmedCircles = {};
  var deathCircles = {};
  var symptomCircles = {};
	var today = new Date();
	var yesterday = new Date();
	yesterday.setDate(yesterday.getDate()-1);
  
	var tdd = String(today.getDate()).padStart(2, '0');
	var tmm = String(today.getMonth() + 1).padStart(2, '0'); // January is 0
	var ydd = String(yesterday.getDate()).padStart(2, '0');
	var ymm = String(yesterday.getMonth() + 1).padStart(2, '0'); // January is 0
	var tyyyy = today.getFullYear();
	var yyyyy = yesterday.getFullYear();
  
	//var jsonfile = "https://mymed.udifi.com/data/covid_latest.json";
	//var jsonfile = "http://covidsc.com.s3-website.us-east-2.amazonaws.com/data/covid_latest.json";
	//var jsonfile = "https://d3e6xqdw3pm38f.cloudfront.net/data/covid_latest.json";
	var jsonfile = "https://covidsc.com/data/covid_latest.json?v=6";
	//var jsonfile = "data/covid_latest.json";
	console.log('loading json file ' + jsonfile);
  function commas(num, decimalPlaces=0){
    return num.toLocaleString(undefined, {maximumFractionDigits:decimalPlaces})

  }


	fetch(jsonfile)
	.then(response => response.json())
	.then(data => {
	  console.log(data);
    //json = JSON.parse(data);
    var allDeaths = 0;
    var allConfirmed = 0;
    var allDeathsChange = 0;
    var allConfirmedChange = 0;
    var lastDate = yesterday;

    var strokeOpacity = 0.8;
    //var confirmedCircles = {}
    //var deathCircles = {}
    var HotCounties = new Array();

	  data.forEach((d) => {
      d.LastUpdate = d.LastUpdate.replace(' ', 'T');
      if (d.Country == 'USA' && d.State == 'SC' && d.County != 'ALL'){
        HotCounties.push({County: d.County, Confirmed_POPADJ_GF: d.Confirmed_POPADJ_GF});
        if (d.Deaths_Change != 0) { console.log(d.County + ' deaths up ' + d.Deaths_Change); }
        if (d.Confirmed > 0){
          confirmedCircles[d.County] = {
            center: {lat: d.Lat, lng: d.Long},
            population: d.Confirmed * 500,
            header: d.County + ', SC Confirmed Cases',
            content: d.Confirmed + ' confirmed cases (+'+d.Confirmed_Change+' since yesterday)',
            color: '#FF0000',
            strokeOpacity: strokeOpacity
          };
        }
        if (d.Deaths>0) {
          deathCircles[d.County] = {
            center: {lat: d.Lat, lng: d.Long},
            population: d.Deaths * 700,
            header: d.County + ', SC Deaths',
            content: d.Deaths + ' deaths (+'+d.Deaths_Change+' since yesterday)',
            color: '#0000FF',
            strokeOpacity: strokeOpacity
          };
        }
      }
      
      if (d.Country == 'USA' && d.State == 'SC' && d.County == 'ALL') {
        console.log(d);
        //document.getElementById("SCcases").innerHTML = d.Confirmed;
        //document.getElementById("SCdeaths").innerHTML = d.Deaths;
        let m = new Date(d.LastUpdate);
        m.setTime(m.getTime()+(+300*60*1000)); //hard convert time forward to fix ios error with eastern time
        console.log("Last update: " + m);
        //let dateString = $.format.date(m, "MMMM d, yyyy @ HH:mm") + " Eastern";
        let dateString = "<br><font size='-2'><a href='https://github.com/jackneil/covidsc-web/blob/master/data/covid_latest.json' target='_new'>as of " + 
          (m.getMonth()+1) + '/' + m.getDate() +'</a></font>';
        //  (m.getMonth()+1)+'/'+m.getDate()+' @ '+m.getHours()+":"+m.getMinutes()+'</a></font>';
        //document.getElementById("LastDataUpdate").innerHTML = m;
        
        document.getElementById('SCdataHeader').innerHTML = commas(d.Confirmed) + ' / ' + commas(d.Deaths) + "<br><font size='-1'>+" + 
          commas(d.Confirmed_Change) + " / +" + commas(d.Deaths_Change) + "</font>" + dateString;
      }      
      if (d.Country == 'USA' && d.State == 'ALL'){
        let lastDate = new Date(d.LastUpdate)
        lastDate.setTime(lastDate.getTime()+(+300*60*1000)); //hard convert time forward to fix ios error with eastern time

        let dateString = "<br><font size='-2'><a href='https://github.com/jackneil/covidsc-web/blob/master/data/covid_latest.json' target='_new'>as of " + 
          (lastDate.getMonth()+1) + '/' + lastDate.getDate() +'</a></font>';
        /*
        var dateString = "<br><font size='-2'><a href='https://github.com/jackneil/covidsc-web/blob/master/data/covid_latest.json' target='_new'>as of " + 
          (lastDate.getMonth()+1)+'/'+lastDate.getDate()+' @ '+lastDate.getHours()+":"+lastDate.getMinutes()+'</a></font>'
        */
       document.getElementById('USdataHeader').innerHTML = commas(d.Confirmed) + ' / ' + commas(d.Deaths) + "<br><font size='-1'>+" + 
              commas(d.Confirmed_Change) + " / +" + commas(d.Deaths_Change) + "</font>" + dateString;

        console.log("Deaths: " + d.Deaths + ", Confirmed: " + d.Confirmed)
/*    
        allDeaths += d.Deaths;
        allConfirmed += d.Confirmed;
        allDeathsChange += d.Deaths_Change;
        allConfirmedChange += d.Confirmed_Change;
        let m = new Date(d.LastUpdate);
        if (m > lastDate) { lastDate=m; }
        */
      }
    })

    HotCounties = HotCounties.sort(function(a,b) { return b.Confirmed_POPADJ_GF - a.Confirmed_POPADJ_GF; }); //sort descending
    HC_string = ""
    for (var i=0; i<HotCounties.length; i++){
      var c = HotCounties[i];
      if (c.Confirmed_POPADJ_GF > 10){
        console.log(c.County + ': ' + c.Confirmed_POPADJ_GF);
        HC_string += "<tr><td>" + c.County + ' County: </td><td>' + c.Confirmed_POPADJ_GF.toFixed(2) + '</td></tr>';
      }
    }
    HC_string = "<b>Population Adjusted Confirmed Case Growth Rate ...</b><br><table align='center'>" + HC_string + '</table><br>';
    console.log('Hot County string: ' + HC_string)
    document.getElementById('hotspots').innerHTML = HC_string;

    console.log(HotCounties);
    console.log(confirmedCircles);
    console.log(deathCircles);
    var map = initMap();
    drawCircles(map, confirmedCircles);
    drawCircles(map, deathCircles);
    var cnyjson = "https://api.covidnearyou.org/markers/";
    fetch(cnyjson)
    .then(response => response.json())
    .then(data => {
      console.log(data);
      let color = "#FF8000";
      data.forEach((d) => {
        if (d.state=="SC"){
          symptomCircles[d.city] = {
            center: {lat: d.lat, lng: d.long},
            population: d.symptoms * 1000,
            header: d.city + ', SC Symptoms Reported',
            content: d.symptoms + ' COVID+ symptoms reported',
            color: color,
            strokeOpacity: 0.1,
            fillOpacity: 0.7
          };
        }
      })
      drawCircles(map, symptomCircles);
    }) 

	})
  
  </script>
  <script>
    // This example creates circles on the map, representing populations in North
    // America.
    var infoWindow;

    function drawCircles(map, spotmap){

      // Construct the circle for each value in citymap.
      // Note: We scale the area of the circle based on the population.
      for (var spot in spotmap) {
        // Add the circle for this city to the map.
        //console.log('drawing circle @ ', spotmap[spot].center);
        spotmap[spot].center = {'lat': parseFloat(spotmap[spot].center['lat']), 'lng': parseFloat(spotmap[spot].center['lng'])};
        //console.log('drawing circle @ ', spotmap[spot].center);
        if (!spotmap[spot].hasOwnProperty('fillOpacity')){ spotmap[spot]['fillOpacity'] = 0.35; }
        var spotCircle = new google.maps.Circle({
          strokeColor: spotmap[spot].color,
          strokeOpacity: spotmap[spot].strokeOpacity,
          strokeWeight: 0,
          fillColor: spotmap[spot].color,
          fillOpacity: spotmap[spot].fillOpacity,
          map: map,
          center: spotmap[spot].center,
          radius: Math.sqrt(spotmap[spot].population) * 100,
          clickable: true
        });
        spotmap[spot].contentString = '<div id="content">'+
          '<div id="covidDataInfo">'+
          '</div>'+
          '<h5 id="firstHeading" class="firstHeading">'+spotmap[spot].header+'</h5>'+
          '<div id="bodyContent">'+spotmap[spot].content + 
          '</div>'+
          '</div>';
        //create info window
/*
        google.maps.event.addListener(marker, 'mouseover', (function(marker) {  
           return function() {  
               var content = contentString;  
               infoWindow.setContent(content);  
               infoWindow.open(map, marker);  
           }  
         })(marker));  */

         infoWindow = new google.maps.InfoWindow();
         //console.log('Adding listener for ' + spotmap[spot].contentString);
         //console.log(spotCircle.getCenter());
         google.maps.event.addListener(spotCircle, 'click', (function(spotCircle, spot) {
          return function() {
              infoWindow.setContent(spotmap[spot].contentString);
              infoWindow.setPosition(spotCircle.getCenter());
              infoWindow.open(map);
          }
        })(spotCircle, spot));
        
      }
    }


    function initMap() {
      // Create the map.
      console.log('Drawing map ...')
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 7.1,
        center: {lat: 33.7100, lng: -81.0348},
        mapTypeId: 'terrain'
      });
      //var map = initMap();
      //drawCircles(map, confirmedCircles);
      //drawCircles(map, deathCircles);
      return map;
    }
  </script>
  <!--
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBx6seaJUAP-r-6eePDE1IGQCXosHcQZbY&callback=initMap">
  </script>
-->

</html>