<head>
      <meta http-equiv="Cache-Control"
      content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma"
      content="no-cache" />
<meta http-equiv="Expires"
      content="0" />
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-53HZNZQ');</script>
    <!-- End Google Tag Manager -->

<script src="script/jquery-3.4.1.min.js"></script>
<script src="script/jquery-dateformat.min.js"></script>


<script src="script/jquery.csv.min.js"></script>

<title>CovidSC - Tracking, Triage, and Support for South Carolinians</title>
<link rel="icon"
      type="image/png"
      href="favicon.png" />
<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">

<link rel="stylesheet"
      href="css/custom.css?v=3">

    <style>
      /* Always set the map height explicitly to define the size of the div
            * element that contains the map. */
      #map {
            height: 400px;
            width: 600px;
            text-align: center;
      }

      </style>
</head>