<main role="main"
      class="main container align-middle">
  <div class="row ">
    <div class="col-sm-12 mx-auto"><br>
      <div id="map" class='mx-auto text-center align-middle'></div>

      <div class="mx-auto text-center align-middle">
        <div id='hotspots'></div>
        <br><br>
        EMPLOYEE needing help?<br><a href='https://dew.sc.gov/covid-hub' target="_new">CLICK HERE</a><br><br>

        SMALL BUSINESS needing help?<br><a href='https://scsbdc.ecenterdirect.com/signup' target="_new">CLICK HERE</a><br><br><br>
        Learn more about COVID-19 <a href='https://emcrit.org/ibcc/covid19/' target="_emcrit">HERE</a>

<!--
          <table class='align left'>
            <tr><td align='left'>Confirmed cases: </td><td align='left'><div id='SCcases'>(loading)</div></td></tr>
            <tr><td align='left'>Deaths: </td><td align='left'><div id='SCdeaths'>(loading)</div></td></tr>
            <tr><td align='left'>Last Update: </td><td align='left'><div id='LastDataUpdate'>(loading)</div></td></tr>
          </table>          
        -->
      </div>

    </div>
  </div>
</main>